.App {
   display: grid;
   background: #eee;
   margin: 20px;
   grid-column-gap: 10px;
   grid-row-gap: 10px;

   grid-template-areas:
      "h h"
      "n c";
   grid-template-rows: 60px 1fr;
   grid-template-columns: 2fr 10fr;
}
.app-wrapper-content {
   grid-area: c;
   background: rgb(249, 255, 194);
   border: 3px solid rgb(94, 129, 170);
   border-radius: 20px;
   min-height: 300px;
}
